@media all and (max-width: 600px) {
    body {
        margin: 0;
    }
    main {
      width: 100%;
       margin: auto;
    }
    main .left-to-right article {
        width: 63%;
        margin: 13px auto;
        border-radius: 20%;
        display: block;
        overflow: hidden;
    }

    main section:nth-child(2) article, main section:nth-child(4) article {
        display: block;
        justify-content: center;
        margin-right: 0;
    }

    button {
        display: none;
    }

    main section:nth-child(2), main section:nth-child(4) {
        display: block;
        margin: 40px;
        margin: 20px auto;
        background-color: white;
    }

    form {
        width: 100%;
    }

    main section:nth-child(2), main section:nth-child(4) {
        text-align: center;
    }

    main section:nth-child(2) article img, main section:nth-child(4) article img {
        width: 63%;
        text-align: center;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem; 
    }

    p {
        width: 90%;
    }
}

@media all and (max-width: 500px ) {
    p {
        font-size: 13px;
    }
}