html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 1em 5em;
}

h1 {
    font-family: "Georgia", serif;
    color: rgb(255, 255, 255);
    padding-top: 1.5em;
    padding-left: 1em; 
}

p {
    color: rgb(255, 255, 255);
    padding-left: 1em; 
    padding-top: 1px
}

article {
    background: rgb(51, 102, 153);
    border-radius: 1rem;
}