@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=latin-ext');
body {
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    padding: 0 7rem;
}

header li {
    display: inline-block;
}

header a {
    text-decoration: none;
    color: black;
}

.navigation>ul>li:nth-child(1)>a {
    color: #FA5B3D;
}

.navigation li, .user-nav li {
    margin-right: 1rem;
}

.fa-caret-down {
    padding-left: 0.4rem;
    color: #FA5B3D;
}

.user-nav ul li {
    border-right: 1px solid black;
    padding-right: 0.8rem;
    opacity: 1;
}

.header img {
    width: 100%;
    height: 18rem;
    position: absolute;
}

.header {
    padding-bottom: 18rem;
}

.header>h1:nth-child(2) {
    position: absolute;
    top: 15%;
    left: 50%;
    margin: auto;
    color: white;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

.header>h1:nth-child(3) {
    position: absolute;
    top: 20%;
    left: 44.5%;
    margin: auto;
    color: white;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

.header>p:nth-child(4) {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 20rem;
    color: white;
}

.header>p:nth-child(5) {
    position: absolute;
    top: 35%;
    left: 38%;
    width: 23rem;
    color: white;
}

.how-works {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 2rem 3rem; 
  align-items: center;
  flex-wrap: wrap;
}

.how-works h3 {
    flex-basis: 100%;
    text-align: center;
    padding-top: 0;
    letter-spacing: 0.3rem;
}

.one, .two, .three {
    flex-basis: 33.3%;
    text-align: center;
  
}

span::before {
    content: '';
    position: relative;
    top: -0.5rem;
    width: 2rem;
    height: 0.13rem;
    background: black;
    display: inline-block;
    margin-right: 1rem;
}


span::after {
    content: '';
    position: relative;
    top: -0.5rem;
    width: 2rem;
    height: 0.13rem;
    background: black;
    display: inline-block;
    margin-left: 1rem;
}

.one span, .two span, .three span{
    font-size: 34px;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

.one p, .two p, .three p {
    width: 13rem;
    margin: auto;
}

.gallery {
    background: #EDEDED;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.gallery img {
    padding-right: 1rem;
}

footer {
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
}

.sitemap {
    display: flex;
    border-bottom: 2px solid #5E655E;
} 

.sitemap a{
    color: #5E655E;
    text-decoration: none;
}

.col1, .col2, .col3 {
    text-align: center;
}

.sitemap li {
    padding-bottom: 1rem;
    text-decoration: none;
}

h6 {
    color: #5E655E;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo {
    height: 15rem;
}

.subscribe {
    height: 15rem;
}

.map {
  display: flex;
  justify-content: center;
  background: black;
padding: 2rem 0;
}

.map ul{
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0 1rem;
}

.map li {
    padding: 0 1rem;
    list-style: none;
    border-right: 1px solid #5E655E;
}

.map li:last-child {
    border-right: none;
}

.map a {
    color: #5E655E;
    text-decoration: none;
}

.button {
    background: #FA5B3C;
    border: none;
    outline: none;
    width: 8rem;
    height: 2rem;
    color: white;
    display: block;
    margin-top: 0.7rem;
}

#email {
    width: 15rem;
    height: 2rem;
}

.logo::after {
    content: '';
    border: 2px solid white;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    display: block;
}
