body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(238, 238, 238);
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
}

header p a {
    min-width: 20vw;
	font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
    padding: 1rem 2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

body main {
    padding: 2rem;
}

footer {
    margin-top: auto;
	background: rgb(102, 102, 102);
	color: rgb(255, 255, 255);
	padding: 1rem 2rem;
}